@{
    ViewBag.Title = "笔试题目";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" data-table="Hy_Recruit_WrittenExaminationQuestionBank">
        <div class="lr-form-item-title">笔试题库<font face="宋体">*</font></div>
        <div id="F_QuestionsBankID" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="Hy_Recruit_WrittenExaminationQuestions">
        <div class="lr-form-item-title">笔试题目<font face="宋体">*</font></div>
        <textarea id="Questions" class="form-control" style="height:100px;" isvalid="yes" checkexpession="NotNull"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="Hy_Recruit_WrittenExaminationQuestions">
        <div class="lr-form-item-title">题目类别<font face="宋体">*</font></div>
        <div id="F_QuestionsType" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="Hy_Recruit_WrittenExaminationQuestions">
        <div class="lr-form-item-title">答案内容<font face="宋体">*</font></div>
        <textarea id="F_AnswerContent" class="form-control" style="height:100px;" isvalid="yes" checkexpession="NotNull"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="Hy_Recruit_WrittenExaminationQuestions">
        <div class="lr-form-item-title">正确答案<font face="宋体">*</font></div>
        <input id="F_Answer" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="Hy_Recruit_WrittenExaminationQuestions">
        <div class="lr-form-item-title">题目分数<font face="宋体">*</font></div>
        <input id="F_Score" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
    </div>
</div>
@Html.AppendJsFile("/Areas/Platform/Views/RQuestions/Form.js")
