@{
    Layout = null;
}
<script src="~/Scripts/QrCode/QrCodeJs.js"></script>
<form action="">
    <table class="form">
        <tr>
            <td colspan="3"><input type="text" placeholder="姓名" name="username" id="user" /><span></span></td>
        </tr>
        <tr>
            <td class="r-box pl8" width="37%">性别</td>
            <td class="r-box" width="21.9%"><label for="bill_y" class="r-label checked"><input type="radio" name="sex" id="man" />男</label></td>
            <td class="r-box"><label for="bill_n" class="r-label"><input type="radio" name="sxe" id="female" />女</label></td></td>
        </tr>
        <tr>
            <td colspan="3"><input type="text" placeholder="员工编号" name="userid" id="userid" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="text" placeholder="身份证号" name="cardId" id="cardId" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="text" placeholder="惯籍" name="area" id="area" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="phone" placeholder="手机" name="phone" id="phone" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="email" placeholder="电子邮箱" name="email" id="email" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="text" placeholder="确认邮箱" name="email-c" id="email-c" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3" class="pb6"><input type="text" placeholder="联系地址" /><span></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="继续" /></td>
        </tr>
    </table>
</form>


