<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="BaseDb" connectionString="Server=10.100.200.86;Initial Catalog=HYDatabase;User ID=sa;Password=malaihong" providerName="System.Data.SqlClient" />
    <add name="WTS_HTEntities" connectionString="metadata=res://*/Database.LQModel.csdl|res://*/Database.LQModel.ssdl|res://*/Database.LQModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.98.233;initial catalog=WTS_HT;persist security info=True;user id=HYWTS;password=Ht-tech.2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRDatabaseEntities" connectionString="metadata=res://*/Database.HRModel.csdl|res://*/Database.HRModel.ssdl|res://*/Database.HRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.200.86;initial catalog=HYDatabase;user id=sa;password=malaihong;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRSqlConnection"  connectionString="Data Source=10.100.200.86; Initial Catalog=HYDatabase; User Id=sa; Password=malaihong;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <WindowsFormsApp1.Properties.Settings>
      <setting name="WindowsFormsApp1_WTSWebReference_AuthorityService"
        serializeAs="String">
        <value>http://192.168.98.231:6081/WebService/AuthorityService.asmx</value>
      </setting>
      <setting name="WindowsFormsApp1_AttendanceWebReference_AttendanceService"
        serializeAs="String">
        <value>http://192.168.98.231:6081/WebService/AttendanceService.asmx</value>
      </setting>
    </WindowsFormsApp1.Properties.Settings>
  </applicationSettings>
</configuration>